/*
 *  ===================
 *  MAIN CUSTOM STYLING
 *  ===================
*/

/*
 *  -------
 *  IMPORTS
 *  -------
*/

@import url('./bootstrap.min.css');
@import url('./bootstrap-responsive.css');
@import url('./defaultpicker.css');
@import url('./default.date.css');
@import url('./default.time.css');
@import url('http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css');

/*TYPOGRAPHY*/

/* alt fonts
@import url('//fonts.googleapis.com/css?family=Finger+Paint');
@import url('//fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic');
@import url('//fonts.googleapis.com/css?family=Vollkorn:700');
*/
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');

.my-bold-text {
    font-weight: 700;
}

/*END TYPOGRAPHY*/

/*BEGIN LAYOUT*/

li.my-nav-pills {
    padding-right: 5px;
}

.col-wrap {
    /*margin-left: 30px;*/
}

.my-col {
    border: 1px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*margin-left: -1px;*/
    /*margin-right: -1px;*/
    padding: 10px;
}

form.form-admin {
    width: 100%;
}

form.form-admin > input {
    width: 100%;
}

a.topic-excerpt {
    text-decoration: underline;
    float: right;
    margin-right:5px;
}
div.links {
    display: none;
}

#infscr-loading {
    text-align: center;

}
/*END LAYOUT*/

/*temp
 *
*/
.container {
    /*border: solid black 3px;*/
}

/* pagination */
.pagination {
    display: none;
}

/* text alignment */
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    /*navbar blocking content fix*/
    /*padding-top: 40px;*/
}

/*navbar blocking content reset for responsive design*/
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

h1 {
    /*font-family: 'Vollkorn', serif;*/
    /*text-align: left;*/
}

div.span4 h2 {
    font-family: 'Vollkorn', serif;
}

div.social img {
    width: 256px;
    height: 256px;
    margin: auto;
}

.row { padding: 10px 0; }

.rounded5-dotted {
    border: dotted 1px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

.rounded10-dotted {
    border: dotted 1px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

.rounded10-solid {
    border: solid 1px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}

/*
 *  FOOTER CUSTOM STYLING
*/
small.foot-text {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.timepicker:hover {
    cursor: pointer !important;
}

.datepicker:hover {
    cursor: pointer !important;
}

/*
 *  LOGIN CUSTOM STYLING
*/

#login-container {
    min-height: 470px;
    min-width: 560px;
    /*background-image: url() no-repeat;*/
}